button {
  width: 30px;
  height: 30px;
  background-color: transparent;
  border: orange 8px solid;
  border-radius: 50%;
}
ul {
  list-style: none;
  li {
    &:nth-child(odd) {
      display: inline-block;
      width: 20px;
      color: red;
      font-weight: 600;
      margin-right: 10px;
    }
    &:nth-child(2n) {
      color: blue;
      display: inline-block;
      width: calc(100% - 30px);
    }
  }
}
