@import "./style.scss";

body{
  padding: 2rem;
}
button {
  width: 1.7rem;
  height: 1.7rem;
  background-color: $color-white;
  border: $color-history-orange 8px solid;
  border-radius: 50%;
  margin-bottom: 3rem;
  position: relative;
  z-index: 999;

  // &::after {
  //   content: "";
  //   position: absolute;
  //   top: 19px;

  //   width: 2px;
  //   height: 30vh;
  //   background-color: $color-line-gray;
  //   z-index: 1;
  // }
}
.history-line{
  width: 2px;
  height: 30rem;
  background-color: $color-line-gray;
  position: absolute;
  display: inline-block;
  left: 5rem;
}
.history-mainBox {
  display: flex;
}
.history-year {
}
ul {
  list-style: none;
}
